body {
   font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", , Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 200;
   margin: 0;
}

section {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.header {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(18, 18, 18);
  font-weight: 900;
  padding-top: 20px;
  margin: 0 20px 20px 20px;
}

    .header img {
        width: 55px;
        display: inline-block;
        position: relative;
        top: 17px;
    }

    .header h1 {
        display: inline-block;
        font-size: 30px;
        position: relative;
        left: 20px;
    }

    .header .container {
        max-width: 1000px;
    }

.nav {
    display: inline-block;
    float: right;
}
    .nav ul {
        list-style: none;
    }

    .nav li {
        display: inline;
        font-size: 20px;
        margin: 0 15px;
    }

    .nav a, .mobileNav a {
        text-decoration: none;
        color: rgb(18, 18, 18);
    }

    .nav a:hover {
        border-bottom: 3px solid #252525;
    }

    .activeLinkStyle {
        border-bottom: 3px solid #000 !important;
    }

    .mobileNav {
        display: none;
    }

    @media (max-width: 1034px) {
        .nav {
            display: none !important;
        }

        .mobileNav {
            display: inline-block !important;
            color: white;
        }
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
      position: absolute;
      width: 36px;
      height: 30px;
      right: 36px;
      top: 46px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: black;
      opacity: 1 !important;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
      background: black;
      opacity: 1 !important;

    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 34px !important;
      width: 34px !important;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #ffffff;
    }

    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
      position: fixed;
      top: 100px;
      height: 100%;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #343434;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: black;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: black;
      padding: 0.8em;
    }

    /* Individual item */
    .bm-item {
      display: inline-block;
      margin-bottom: 7px;
      color: white;
    }

    .mobileNav .activeLinkStyle {
        border-bottom: 3px solid white !important;
    }

    .mobileNav a {
    text-decoration: none;
    color: white;
}

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }

.genericTop {
    background-color: #EDF4FC;
    text-align: center;
    padding: 20px 0 60px 0;
}

    .genericTop h1 {
        font-size: 37px;
        margin: 0 0 10px 0;
    }

    .genericTop h2 {
        font-size: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

.genericPage {
    border-radius: 5px;
    display: block;
    min-height: 300px;
    max-width: 1000px;
    position: relative;
    bottom: 60px;
    padding: 40px 20px;
    background-color: white;
    -webkit-box-shadow: 0 17px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}
