body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0;
}

section {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.header {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(18, 18, 18);
  font-weight: 900;
  padding-top: 20px;
  margin-bottom: 20px;
}

    .header img {
        width: 55px;
        display: inline-block;
        position: relative;
        top: 17px;
    }

    .header h1 {
        display: inline-block;
        font-size: 30px;
        position: relative;
        left: 20px;
    }

    .header .container {
        max-width: 1000px;
    }

.nav {
    display: inline-block;
    float: right;
}
    .nav ul {
        list-style: none;
    }

    .nav li {
        display: inline;
        font-size: 20px;
        margin: 0 15px;
    }

    .nav a {
        text-decoration: none;
        color: rgb(18, 18, 18);
    }

    .nav a:hover {
        border-bottom: 3px solid #252525;
    }

    .activeLinkStyle {
        border-bottom: 3px solid #000 !important;
    }

.genericTop {
    background-color: #EDF4FC;
    text-align: center;
    padding: 20px 0 60px 0;
}

    .genericTop h1 {
        font-size: 37px;
        margin: 0 0 10px 0;
    }

    .genericTop h2 {
        font-size: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

.genericPage {
    border-radius: 5px;
    display: block;
    min-height: 300px;
    max-width: 1000px;
    position: relative;
    bottom: 60px;
    background-color: white;
    -webkit-box-shadow: 0 17px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}
