p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    line-height: 32px;
    font-weight: 400;
}

a {
    text-decoration: none;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

.underline {
  position: relative;
  text-decoration: none;
  color: #303030;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #67379A;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.splash {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

    .splash h1 {
        font-size: 45px;
        margin: 20px 0;
        letter-spacing: 0.5px;
    }

    .splash h2 {
        font-size: 22px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }

        .apply {
            background-color: #67379A;
            padding: 15px 25px;
            border-radius: 3px;
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            position: relative;
            top: 40px;
            transition: 0.3s all ease-out;
            display: inline-block;
        }

        .apply:hover {
            background-color: #533178;
        }

.overview {
    background-color: #f6f9fc;
    display: block;
    padding: 50px;
}

    .overview .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        max-width: 60em;
    }

    .overview .mini-header {
        float: left;
    }

    .overview .mini-header h2 {
        display: inline-block;
        position: relative;
        bottom: 22px;
        left: 20px;
        margin: 0;
    }

    .overview .mini-header .underline {
        margin-top: 20px;
    }

    .overview .icon {
        background-color: #D9C4F0;
        width: 60px;
        height: 60px;
        border-radius: 70px;
        display: inline-block;
        background-image: url('./../assets/rocket.png');
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-size: 30px;
    }

    .numbers {
        padding: 0 10px;
        display: relative;
        bottom: 30px;
    }

    .numbers h3 {
        margin-bottom: 10px;
    }

    .numbers .bigNumber {
        font-size: 60px;
        display: block;

    }
