.tiers {
    padding-top: 20px;
}

    .tiers h2 {
        text-align:center;
        font-size: 30px;
    }

    .tiers article {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row-gap: 100px;
    }

    .tiers article img {
        height: 50px;
        width: auto;
    }


    .tiers article span:first-child {
        text-align: left;
    }

    .tiers article span:last-child {
        text-align: left;
    }

    .tiers article h3 {
        color: #67379A;
        font-weight: 600;
        margin: 0px 0 10px 0;
    }

    .tiers article p {
        font-size: 17px;
        font-weight: 500;
        margin-top: 0;
        color: #333;
        line-height: 1.75;
    }

    .three-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 60px;
        padding: 50px 0;
    }

    .tiers .three-grid {
        padding: 50px 0 0 0 !important;
        grid-row-gap: 50px;
    }

.programLine {
	margin-left: 10%;
	margin-right: 10%;
}

.trackRecord {
	background-color: #f3f4f5;
	text-align: center;
	background-size: cover;
	padding-top: 5px;
	padding-bottom: 25px;
}
	.trackRecord h2 {
		text-align: center;
		font-size: 30px;
		padding-bottom: 20px;
	}

	.trackInfo {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		text-align: left;
	}

	.trackImage {
		display: inline-block;
		width: 50%;
	}

	.trackImage img {
		width: 85%;
	}

.spotlightArticles {
    /*background-color: #f3f4f5;*/
    text-align: center;
    background-size: 100% 100%;
    padding-bottom: 5vh;
}
	.spotlightArticles h2 {
        text-align:center;
        font-size: 30px;
        padding-top: 30px;
    }

    .spotlightArticles .three-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        padding-top: 50px;
    }

    .spotlightArticles .extend {
        display: block;
        height: 100%;
    }

.spotlight {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.15), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    background-color: white;
    color: #333333;
    padding: 30px 30px 60px 30px;
    position: relative;
    transition: all 0.3s ease;
    text-align: left;
}

    .spotlight:hover {
        transform: translateY(-5px);
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.30), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }

    .spotlight img {
        height: 125px;
        width: auto;
        display: inline-block;
    }

    .spotlight h1 {
    }

    .spotlight p {
        font-family: 'Lato', sans-serif;
        display: block;
    }

    /* .company a {
        width: 100%;
        height: 100%;
    } */

    .spotlight a {
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        color: #333333;
        position: absolute;
        bottom: 20px;
        font-size: 15px;
        margin: 0;
        transition: all 0.2s ease;
    }

    .spotlight a img {
        height: auto;
        position: relative;
        left: 10px;
        bottom: 1px;
        transition: all 0.2s ease;
    }

    .spotlight a:hover {
        color: rgb(73, 137, 223);
    }

    .spotlight a:hover img {
        height: auto;
        position: relative;
        left: 15px;
        bottom: 1px;
    }

    .company .companyTag {
        display: inline-block;
        color: white;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 700;
        margin-right: 5px;
    }