.peopleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.person {
    display: inline-block;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}

    .person img {
        width: 240px;
        border-radius: 7px;
    }

    .person h2 {
        font-size: 23px;
        margin: 10px 0;
    }

    .person h3 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;
        font-weight: 600;
        margin: 10px 0;
    }

    .person .links img {
        width: 17px;
        opacity: 0.6;
        transition: all 0.3s ease;
        margin: 0 5px;
        border-radius: 0px;
    }

    .person .links img:hover {
        opacity: 0.8;
    }
